# Azure Functions
azure-functions

# Azure SDKs
azure-storage-blob>=12.20.0
azure-ai-documentintelligence>=1.0.0
azure-ai-translation-document>=1.1.0
azure-core>=1.30.0

# LLM
openai>=1.30.0

# HTTP
requests>=2.32.0

# SQL (lineage DB)
pyodbc>=5.1.0

# OCR pipeline
ocrmypdf>=16.0.0
pdfminer.six>=20221105
PyMuPDF>=1.24.0
opencv-python-headless>=4.9.0
Pillow>=10.3.0
numpy>=1.26.0


# Config
python-dotenv>=1.0.0

# Utilities
paramiko>=3.4.0  # SFTP
